<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-5">
            <h1 class="text-center text-primary logText" style="font-size: 57px;height: 100vh;margin-top: 180px;">Get The Mobile You Want !!</h1>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center" style="color: blue;">User Login</h1>
                </div>
                <div class="card-body d-flex justify-content-center align-items-center">
                    <form (ngSubmit)="userLogin()" class="col-10">
                        <div class="mb-3">
                            <label for="userName" class="form-label"><h4>User Name</h4></label>
                            <input type="email" [(ngModel)]="user.emailId" class="form-control" id="emailId" name="emailId" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label"><h4>Password</h4></label>
                            <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password">
                        </div>
                        <a><p (click)="adminLogin()">Login as Admin</p></a>
                        <p><a (click)="register()">Don't have account? Sign Up</a></p>
                        <button type="submit" class="btn btn-success">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <router-outlet></router-outlet>