<div class="card flex-row"><img class="card-img-left example-card-img-responsive" style="height: 400px; width: 400px;" src={{mobile.imagePath}}/>
    <div class="card-body">
      <h2 class="card-title ">{{mobile.companyName}}</h2>
      <h4 class="card-text">{{mobile.mobileName}}</h4>
      <h4>Price : {{mobile.mobileCost}} Rs.</h4>
      <h5>Camera : {{mobile.cameraPixcel}} pixcels</h5>
      <h5>RAM : {{mobile.mobileRam}} GB</h5>
      <h5>Battery : {{mobile.mobileBattery}} mAH</h5>
    </div>
  </div>